@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dont be Last, act Fast</h1>
    <p class="lead">We all know that one team in each conference that can not recruit at all and finishes last place every year.  Don't let that be your team, come join our site where you can easily track what your coaches are doing, where your scouts might be, and also all the recruits
    that you guys may be going after year after year.  You can also keep track of the highschools that each player is at, which gives you a competitive edge because it can allow you to send your scouts to their big games.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The first thing that you will want to do is begin by adding high schools that you may be interested in watching on Friday nights.
            After that we would love for you to begin by adding recruits from each high school that you and your staff may be interested in. 
            You will be able to see all your coaches on your coaching staff, as well as easily keep track of which scout is recruiting which player.
        </p>
        <p><a class="btn btn-default" href="http://www.espn.com/college-sports/football/recruiting/rankings">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sneak preview of who is using our app</h2>
        <p>We have some of the top teams in the nation such as teams from the SEC,Big12,Big10, and ACC. Especially with Covid now everything
        will become much more virtual and this will allow you to see which highschool teams you really want to focus on in terms of recruits.</p>
        <p><a class="btn btn-default" href="https://theacc.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>stop Finishing Last, Join US</h2>
        <p>I can promise that you will not regret your decision.</p>
        <p><a class="btn btn-default" href="https://bigten.org/">Learn more &raquo;</a></p>
    </div>
</div>
<style>
    .jumbotron {
        background-color: blue;
        text-align: center;
        text-emphasis-style: double-circle;
    }
    .row{
        background-color:red;
        text-align:left;
        margin-top:100px;

    }
     

            
            
   
</style>

